@mixin textstyle($fontsize) {
    text-transform: uppercase;
    font-size: $fontsize;
    font-weight: 400;
    letter-spacing: 20px;
}

@mixin animateIt ($name, $duration) {
    animation-name: $name;
    animation-duration: $duration;
}