.lowerBackGround{
    background-color: rgba(0,0,0,0.8);
  color: #999;
  font-family: Hevletica, sans-serif;
}

.success {
  height: auto;
  width: 100%;
  color:white;
  padding: 2rem;

  // height: 300px;
  // width: auto;
  // background-color: blue;
}


.dec {

  font-size: 3rem;

}

hr {
//   border: 4px dashed #1C6EA4;
// border-radius: 23px;

border: 1px solid #46A514;
border-radius: 23px;

}

.otherConsideration{
  background-color: rgba(160, 145, 145, 0.836);
  color: whitesmoke;
}


