.lowerBackGround{
    background-color: rgba(0,0,0,0.8);
  color: #999;
  font-family: Hevletica, sans-serif;
}

.decide_me {
  // background-image: url('/img/decisionHomePage.jpg');
  // height: 95vh;
  // background-size: cover;
  // background-position: center;

  height: 300px;
  width: auto;
  background-color: blue;
}

.showDecision {
  font-size: 4rem;
  color:red;
}