.header {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5),
            rgba(255, 255, 0, 0.5)),
        url("../img/bg_home1.jpg");
    height: 95vh;
    background-size: cover;
    background-position: center;
    /* background-color: #169B81; */
    background-color: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    /* clip-path: circle(50%); */
    position: relative;

    .logo-box {
        position: absolute;
        top: 40px;
        left: 40px;

        .logo {
            height: 35px;
            width: 70px;
        }
    }

    .textbox {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);

        .heading-primary {
            text-transform: uppercase;
            color: $textColor;
            @include animateIt(moveleft, 2s);
            animation-iteration-count: initial;
            animation-timing-function: ease-in-out;
        }

        .heading-primary-main {
            // text-transform: uppercase;
            // font-size: 60px;
            // font-weight: 400;
            // letter-spacing: 35px;
            @include textstyle($superUpperFont);
            display: block;
        }

        .heading-primary-sub {
            // text-transform: uppercase;
            // font-size: 20px;
            // font-weight: 400;
            // letter-spacing: 15px;
            @include textstyle($normalFont)
        }

        .animate {
            @include animateIt(moveright, 2s)
        }

        .btn-animate {
            @include animateIt(button, 2s)
        }

        .btn:link,
        .btn:visited {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            margin-top: 10px;
            width: 200px;
            border-radius: 100px;
            position: relative;
        }

        .btn:hover {
            transform: translateY(-3px);
        }

        .btn:active {
            transform: translateY(-1px);
        }

        .btn-white {
            background-color: #fff;
            color: #777;
            opacity: 30;
        }

        .btn::after {
            content: "";
            text-decoration: none;
            display: inline-block;
            border-radius: 100px;
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            top: 10;
            left: 0;
            transition: all .4s;
        }

        .btn-white::after {
            /* background-color: #ebf8e1; */
            background-color: #f69d3c;
        }

        .btn:hover::after {
            transform: scale(1.4);
        }
    }
}
