* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    padding: 10px;
    line-height: 1.6;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
   
.header{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), 
    rgba(255, 255, 0, 0.5)), 
    url("../img/bg_home1.jpg");
    height: 95vh;
    background-size: cover;
    background-position: center;
    /* background-color: #169B81; */
    background-color: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    /* clip-path: circle(50%); */
    position: relative;     
}

.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
   
}

.logo{
    height: 35px;
    width: 70px;
}

.textbox{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    
}

.heading-primary{
    text-transform: uppercase;
    color: #fff;
    animation-name: moveleft;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in-out;
}
.heading-primary-main{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    display: block;
    letter-spacing: 35px;

}
.heading-primary-sub{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 15px;
}

.animate{
    animation-name: moveright;
    animation-duration: 2s;
}

.btn-animate{
    animation-name: button;
    animation-duration: 2s;
}
/* 
animation */

@keyframes moveleft{
    0% {opacity: 0;
        transform: translateX(-100px);
       }

       70% {
        transform: translateX(50px);
    }
    100%{ opacity: 30;
        transform: translate(0);
       
    }
}

@keyframes moveright{
    0% {opacity: 0;
        transform: translateX(100px);
       }

       70% {
        transform: translateX(-50px);
    }
    100%{ opacity: 30;
        transform: translate(0);
       
    }
}

@keyframes button{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    50%{
        opacity: 20;
        transform: translateX(-100px);

    }
    100%{
        opacity: 30;
        transform: translate(0);
    }
}

.btn:link, 
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    width: 200px;
    border-radius: 100px;
    position: relative;
}

.btn:hover{
    transform: translateY(-3px);
}

.btn:active{
    transform: translateY(-1px);
}

.btn-white{
    background-color: #fff;
    color: #777;
    opacity: 30;
}

.btn::after{
     content: "";
     text-decoration: none;
     display: inline-block;
     border-radius: 100px;
     position: absolute;
     z-index: -1;
     height:100%;
     width: 100%;
     top: 10;
     left: 0;
     transition: all .4s;
}

.btn-white::after{
    /* background-color: #ebf8e1; */
    background-color: #f69d3c;
}

.btn:hover::after {
    transform: scale(1.4);
}